.selectdiv {
  position: relative;
  display: inline-block;
}

.selectdiv:after {
    content: url(../img/flags/wy.png);
    right: -2px;
    top: -5px;
    position: absolute;
    pointer-events: none;


}
select::-ms-expand {
display: none;
}

.selectdiv select {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 112px;
  height: 13px;
  float: right;
  -ms-word-break: normal;
  word-break: normal;
  text-decoration: dashed underline;
  color: #717274;
  font-family: "Segoe UI - Semilight";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  outline: 0;
}
/* Lang */
.lang {
  position: relative;
  display: inline-block;
}

.lang:after {
    content: url(../img/flags/wy.png);
    right: 5px;
    top: -5px;
    position: absolute;
    pointer-events: none;


}
select::-ms-expand {
display: none;
}

.lang select {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 35px;
  height: 13px;
  float: right;
  -ms-word-break: normal;
  word-break: normal;
  color: #717274;
  font-family: "Segoe UI - Semilight";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  outline: 0;
}
/* select Form*/

.selectForm {
  position: relative;
  display: inline-block;
}

.selectForm:after {
    content: url(../img/flags/down-arrow.png);
    right: 12px;
    top: 10px;
    position: absolute;
    pointer-events: none;


}
select::-ms-expand {
display: none;
}

.selectForm select {
  border: 1px solid #b0bec1;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  display: block;
  width: 352px;
  padding-left: 20px;
  height: 44px;
  float: right;
  -ms-word-break: normal;
  word-break: normal;
  color: #717274;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 300;
  /*line-height: 38px;*/
}