.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 240px auto 28px auto; }
  .footer__copyright span {
    color: #ca1919;
    font-family: "Segoe UI - Semilight",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.28px; }
  .footer__we {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__we span {
      color: #3f5b69;
      font-family: "Segoe UI",Helvetica,Arial,sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px; }
      .footer__we span b {
        font-weight: 700;
        text-transform: uppercase; }
    .footer__we img {
      margin-left: 20px; }
  .footer__btnUp {
    position: absolute;
    width: 48px;
    height: 48px;
    -webkit-box-shadow: 0 12px 21px rgba(155, 169, 179, 0.29);
    box-shadow: 0 12px 21px rgba(155, 169, 179, 0.29);
    background-color: #ffffff;
    border: 0;
    top: -239px;
    right: 0px;
    cursor: pointer;
    outline: none;
    transition: width 0.5s; }
    .footer__btnUp:hover {
      background-image: linear-gradient(45deg, #1b1b1b 0%, #453f3f 100%);
      transition: width 0.5s;
      transition-delay: 1s; }

#datepicker {
  background: url(../img/calendar.png) right no-repeat #fff;
  background-position-x: 95%; }
