@charset "UTF-8";
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 240px auto 28px auto; }
  .footer__copyright span {
    color: #ca1919;
    font-family: "Segoe UI - Semilight";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "© 2017 Bar" */
    letter-spacing: 0.28px; }
  .footer__we {
    display: flex;
    align-items: center; }
    .footer__we span {
      color: #3f5b69;
      font-family: "Segoe UI";
      font-size: 14px;
      font-weight: 300;
      line-height: 22px; }
      .footer__we span b {
        font-weight: 700;
        text-transform: uppercase; }
    .footer__we img {
      margin-left: 20px; }
  .footer__btnUp {
    position: absolute;
    width: 48px;
    height: 48px;
    box-shadow: 0 12px 21px rgba(155, 169, 179, 0.29);
    background-color: #ffffff;
    border: 0;
    top: -239px;
    right: 0px;
    cursor: pointer;
    outline: none; }
