@charset "UTF-8";
.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .slider__slide__text h3 {
    color: #f6303e;
    font-family: "DIN Pro";
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
    /* Text style for "ajax Stree" */
    letter-spacing: 0.72px; }
  .slider__slide__text p {
    width: 329px;
    color: #8da5ba;
    font-family: "Segoe UI - Semilight";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* Text style for "П, рацює н" */
    letter-spacing: 0.28px; }
  .slider__slide__text button {
    width: 180px;
    height: 60px;
    background-color: #f6303e;
    background-image: linear-gradient(45deg, #1b1b1b 0%, #453f3f 100%);
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    /* Text style for "д, етальні" */
    letter-spacing: 0.28px; }
  .slider__slide__img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 268px;
    height: 392px; }
    .slider__slide__img img {
      width: 100%;
      position: absolute; }
